.PassaMouseTrocaCor {
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
} 
    
.PassaMouseTrocaCor:hover {
    color: #17a2b8;    
} 

@media only screen and (max-width: 1063px) {
    .tabelaTrajes{
        margin-top: 5%;
    }

}
@media only screen and (max-width: 599px) {
    .tabelaTrajes{
        margin-top: 8%;
    }

}

@media only screen and (max-width: 1768px) {
    .addrev{
    width: 80px;
    }
}
@media only screen and (max-width: 572px) {
    .addrev{
    width: 120px;
    }
}
@media only screen and (min-width: 1768px) {
    .addrev{
    width: 120px;
    }
}


