{% load static %}

<!doctype html>
<html lang="pt-br">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="{% static 'javaScript/scripts_base.js' %}"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src=""
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


</head>

<body>
  <!-- MENU -->

  <div class="navbar navbar-expand-lg bg-dark navbar-dark ">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">JL Control</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
          <a href="{% url 'locar' %}" class="nav-item nav-link active" id="nav-options">Locar</a>
          <a href="" class="nav-item nav-link active" id="nav-options"data-toggle="modal" data-target="#exampleModal">Pesquisar
            Locações</a>
          <a href="" class="nav-item nav-link active" id="nav-options" data-toggle="modal" data-target="#exampleModal2">Pesquisar
            Trajes</a>
          <a href="{% url 'relatorio' %}" class="nav-item nav-link active" id="nav-options">Relatórios</a>
          <div class="btn-group dropleft">
            <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="30">Admin</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'admin:index' %}controle/traje">Trajes</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--EndMenu -->


  <!-- Modal1 Locações -->

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" >Pesquise locações com:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-secondary active" onclick='(function(){ document.getElementById("modalConsultaAvancado").style.display = "none";
        document.getElementById("modalConsultaSimples").style.display = "inline"; })();'>
          <input type="radio" name="options" id="BotaoSimples" autocomplete="off">Simples</label>

        <label class="btn btn-outline-secondary" onclick='(function(){ document.getElementById("modalConsultaAvancado").style.display = "inline";
        document.getElementById("modalConsultaSimples").style.display = "none"; })();'>
          <input type="radio" name="options" id="BotaoAvancado" autocomplete="off">Avançado</label>
        </div>
        <div class="modal-body">
          <div id="modalConsultaSimples" style="display: inline;">
          <form name="formCliente" action="/consultar/" method="post">
            {% csrf_token %}
            <div class="form-group row">
              <label for="CPF" class="col-sm-2 col-form-label">CPF: </label>
              <div class="col-sm-10">
                <input id="formCPF" class="form-control" type="text" name="CPF" maxlength="11"
                  placeholder="Digite o CPF">
              </div>
            </div>
            <div class="form-group row">
              <label for="Telefone" class="col-sm-2 col-form-label">Telefone: </label>
              <div class="col-sm-10">
                <input id="formTelefone" class="form-control" type="text" name="Telefone" maxlength="11"
                  placeholder="Digite o Telefone">
              </div>
            </div>
            <div class="form-group row">
              <label for="Nome" class="col-sm-2 col-form-label">Nome: </label>
              <div class="col-sm-10">
                <input id="formNome" class="form-control AutoCompleteClienteNome" type="text" name="Nome"
                  maxlength="100" placeholder="Digite o Nome">
              </div>
            </div>
            <div class="form-group row">
              <label for="DocumentoExterno" class="col-sm-2 col-form-label">Externo:</label>
              <div class="col-sm-10">
                <input id="formDocumentoExterno" class="form-control" type="text" name="DocumentoExterno"
                  maxlength="100" placeholder="Digite o Documento Externo">
              </div>
            </div>
            <button type="button" class="btn btn-info btn-lg btn-block" onclick="validaCamposSimples()">Pesquisar</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal">Fechar</button>
          </form>
        </div>

        <div id="modalConsultaAvancado" style="display: none;">
        <form name="formClienteAvancado" action="/consultar_avancado/" method="post">
          {% csrf_token %}
          <div class="form-group row">
            <label for="Datainicial" class="col-sm-3 col-form-label">Data Inicial:</label>
            <div class="col-sm-8">
              <input id="Datainicial" class="form-control" type="datetime-local" name="datainicial">
            </div>
          </div>

          <div class="form-group row">
            <label for="Datafinal" class="col-sm-3 col-form-label">Data Final:</label>
            <div class="col-sm-8">
              <input id="Datafinal" class="form-control" type="datetime-local" name="datafinal">
            </div>
          </div>
          <div class="form-group row">
          <label for="statusOpcoes" class="col-sm-3">Status:</label>
          <select class="col-sm-8 form-select" id="statusOpcoes" name="status">
            <option selected value="todos">Todos</option>
            <option value="Alocado">Alocado</option>
            <option value="Devolvido">Devolvido</option>
            <option value="Atraso">Atraso</option>
          </select>
        </div>

          <button type="button" class="btn btn-info btn-lg btn-block" onclick="validaCamposAvancado()">Pesquisar</button>
          <button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal">Fechar</button>
        </form>
      </div>

    </div>
      
    </div>

    </div>
    <script>
      $(function () {
        $(".AutoCompleteClienteNome").autocomplete({
          source: '{% url 'autocomplete-nome' %}',
          minLength: 3,
          max: 5
              });
            });
    </script>

    <script>function validaCamposSimples() {
        if (formCliente.CPF.value == '' && formCliente.Telefone.value == '' && formCliente.Nome.value == '' && formCliente.DocumentoExterno.value == '') {
          document.getElementById("botaoAlerta").click();
        }
        else {
          formCliente.submit();
        }
      }
    </script>
    <script>function validaCamposAvancado() {
      if (formClienteAvancado.datainicial.value == '' || formClienteAvancado.datafinal.value == '') {
        atoastAlertaGenerico("Pesquisa Avançada","Coloque as datas para realizar a pesquisa")
      }
      else {
        formClienteAvancado.submit();
      }
    }
  </script>
  </div>

  <!-- Modal Trajes -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="">Pesquisar Trajes:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="formTraje" action="/consultar/" method="post">
            {% csrf_token %}
            <div class="form-group row">
              <label for="codigo" class="col-sm-2 col-form-label">Código: </label>
              <div class="col-sm-10">
                <input id="formTrajeCodigo" class="form-control AutoCompleteTraje" type="text" name="codigo"
                  maxlength="50" placeholder="Digite o Codigo do traje">
              </div>
            </div>

            <div class="form-group row">
              <label for="nome" class="col-sm-2 col-form-label">Nome: </label>
              <div class="col-sm-10">
                <input id="formTrajeNome" class="form-control AutoCompleteTraje" type="text" name="nome" maxlength="100"
                  placeholder="Digite o Nome do traje">
              </div>
            </div>

            <div class="form-group row">
              <label for="modelo" class="col-sm-2 col-form-label">Modelo: </label>
              <div class="col-sm-10">
                <input id="formTrajeModelo" class="form-control AutoCompleteTraje" type="text" name="modelo"
                  maxlength="100" placeholder="Digite o Modelo">
              </div>
            </div>

            <div class="form-group row">
              <label for="corte" class="col-sm-2 col-form-label">Corte: </label>
              <div class="col-sm-10">
                <input id="formTrajeCorte" class="form-control AutoCompleteTraje" type="text" name="corte"
                  maxlength="100" placeholder="Digite o Corte">
              </div>
            </div>
            <div class="form-group form-check form-switch row">
              <div class="col-sm-2"> </div>
              <div class="col-sm-5">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="alocados" name="alocados">
                  <label class="form-check-label" for="gridCheck1">
                    Mostrar os alocados
                  </label>
                </div>
              </div>
            </div>

            <input type="hidden" id="todos" name="todos" value='1'>

            <button type="submit" class="btn btn-info btn-lg btn-block">Pesquisar</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal">Fechar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    function AtualizaTrajeBase() {
      try {
        focus = document.getElementById(document.activeElement.id).name
      } catch (error) { }

      $(function () {
        $(".AutoCompleteTraje").autocomplete({
          source: '{% url 'autocomplete-traje' %}?Unifica=True&tipo=' + focus,
          minLength: 3,
          max: 5
      });
    });}
    setInterval(AtualizaTrajeBase, 300);
  </script>
  <!-- Button trigger modal -->
  <button id="botaoAlerta" type="button" class="btn btn-primary" data-toggle="modal" data-target="#alertaCPF"
    hidden="true"> </button>

  <!-- toast de Alerta generico-->
  <div aria-live="polite" aria-atomic="true" id="areaToast"
    style="position: fixed; top: 20px; right: 20px; z-index: 9999;">
  </div>
  </div>

  <!-- Metodos toastGenerico -->
  <script>function atoastAlertaGenerico(titulo, mensagem) {
      var numero = parseInt(Math.random() * (2000 - 0) + 0)

      var seuNode = document.getElementById('toastAlertaGenerico');
      var clone = seuNode.cloneNode(true);
      clone.id = "toastAlertaGenerico-" + numero

      for (childs in clone.childNodes) {
        if (typeof clone.childNodes[childs]["childNodes"] !== 'undefined' && clone.childNodes[childs]["childNodes"].length > 0) {
          for (dentro in clone.childNodes[childs]["childNodes"]) {
            clone.childNodes[childs]["childNodes"][dentro].id = clone.childNodes[childs]["childNodes"][dentro].id + "-" + numero
            if (typeof clone.childNodes[childs]["childNodes"][dentro].parentNode !== 'undefined') {
              clone.childNodes[childs]["childNodes"][dentro].parentNode.id = clone.childNodes[childs]["childNodes"][dentro].parentNode.id + "-" + numero
            }
          }
        }
      }
      document.getElementById("areaToast").appendChild(clone);
      var fadeToast = new bootstrap.Toast(document.getElementById("toastAlertaGenerico-" + numero));
      fadeToast.show();
      document.getElementById("toastTitulo-" + numero).innerHTML = titulo
      document.getElementById("toastMensagem-" + numero).innerHTML = mensagem
      document.getElementById("buttonFechaToast-" + numero).setAttribute("onClick", "ftoastAlertaGenerico(" + numero + ")")
      document.getElementById("timer-" + numero).classList.add("timer")
      document.getElementById("timer-" + numero).setAttribute("name", Date.now())

      clone.addEventListener('hidden.bs.toast', function () {
        setTimeout(function () {
          clone.parentNode.removeChild(clone)
        }, 200);
      })
    }
  </script>
  <script>function ftoastAlertaGenerico(numero) {
      $("#toastAlertaGenerico-" + numero).toast('hide')
    }
  </script>
  <script>
    function AtualizaDataToast() {
      var toastTimers = document.getElementsByClassName("timer");
      for (timer in toastTimers) {
        if (typeof toastTimers[timer] == "object") {
          toastTimers[timer].innerHTML = parseInt((Date.now() - toastTimers[timer].getAttribute("name")) / 1000) + " seg atrás"
        }
      }
    }
    setInterval(AtualizaDataToast, 100);
  </script>



  <!-- Modal -->
  <div class="modal fade modalx" style="color:#ff6666; z-index: 9999;" id="alertaCPF" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialogx" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModalLabel">Digite pelo menos um dos campos</h6>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->

  <div style="display: none;">
    <div class="toast fade show" data-bs-autohide="true" data-bs-delay="15000" id="toastAlertaGenerico"
      style="position: relative; top: 0; right: 0;">
      <div class="toast-header" id="toastHeader">
        <svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
          <rect fill="#FF0000" width="100%" height="100%"></rect>
        </svg>
        <strong class="mr-auto" id="toastTitulo"></strong>
        <small id="timer">0 seg atrás</small>
        <button type="button" id="buttonFechaToast" class="ml-2 mb-1 close" onclick="ftoastAlertaGenerico()"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body" id="toastMensagem">
      </div>
    </div>
  </div>

<!-- Div da animação de Sucess -->
<div style="position:fixed;
  left:50%;
  top:50%;
  margin-left:-110px;
  margin-top:-40px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100px;
  height: 100px;
  border-radius: 50px 50px;
  z-index: 1;
  display: none" id="testeSucess">
  <div  style="position: absolute; left: 6%; top: -14%; display: inline; z-index: 1;" >
    <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;"  >
      <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255, 0);"></div>
      <span class="swal2-success-line-tip"></span>
      <span class="swal2-success-line-long"></span>
      <div class="swal2-success-ring"></div>
      <div class="swal2-success-circular-line-right" style="background-color: rgba(255, 255, 255, 0);"></div>
    </div>
  </div>
</div>

  {% block content %}

  {% endblock %}

  </script>
</body>

</html>