{% extends "base.html" %}
% load static %}
{% block content %}
{% if contrato == '#ERRO001' %}
<div class="alert alert-danger" role="alert">
    Telefone duplicado ou não encontrado
  </div>
{% endif %}
{% if contrato == '#ERRO2' %}
<div class="alert alert-danger" role="alert">
    Por favor digite o CPF.
  </div>
{% endif %}

{% if locacoes is not None %}
{% for key, locacao in locacoes.items %}
<div class="container">
    <div class="row">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#ID{{ locacao.id }}" aria-expanded="false" aria-controls="collapseExample">
            {{contrato.nome }} / ID: {{ locacao.id }} - {{ locacao.status }} - {{ locacao.data_locacao}}
          </button>
        </p>
        <div class="collapse" id="ID{{ locacao.id }}">
          <div class="card card-body">
            {% for key, traje in locacao.item.items %}
            {{ traje.id }} - {{ traje.status }} - {{ traje.data_entrega }}<br>
            {% endfor %}

          </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
    {% for traje in trajes_disponiveis %}
        {{ traje }}

    {% endfor %}

{% endblock %}
