{% extends "base.html" %}

{% load static %}
{% load controle_comandos %}

{% block content %}
{% if contrato == '#ERRO001' %}

<div class="alert alert-danger" role="alert">
    Telefone duplicado ou não encontrado
  </div>
{% endif %}
{% if contrato == '#ERRO2' %}
<div class="alert alert-danger" role="alert">
    Por favor digite o CPF.
  </div>
{% endif %}
{% if locacoes is not None %}
{% for key, locacao in locacoes.items %}
<div class="container">
    <div class="row">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#ID{{ locacao.id }}" aria-expanded="false" aria-controls="collapseExample">
            {{contrato.nome }} / ID: {{ locacao.id }} - {{ locacao.status }} - {{ locacao.data_locacao}}
          </button>
        </p>
        <div class="collapse" id="ID{{ locacao.id }}">
          <div class="card card-body">
            {% for key, traje in locacao.item.items %}
            {{ traje.id }} - {{ traje.status }} - {{ traje.data_entrega }}<br>
            {% endfor %}

          </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

{% if trajes_disponiveis %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Codigo</th>
      <th scope="col">Nome</th>
      <th scope="col">Modelo</th>
      <th scope="col">Corte</th>
      <th scope="col">Valor</th>
      <th scope="col">Disponibilidade</th>
    </tr>
  </thead>
  <tbody>
    {% for traje in trajes_disponiveis %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ traje.codigo }}</td>
          <td>{{ traje.nome }}</td>
          <td>{{ traje.modelo }}</td>
          <td>{{ traje.corte }}</td>
          <td>{{ traje.valor }}</td>
          {% if MostraAlocados %}
          <td>Alocado</td>
          {% else %}
          <td>Disponivel <button class="btn btn-primary" type="button">Alocar</button></td>
          {% endif %}
        </tr>
    {% endfor %}
          <tr class="thead-light">
            <th>Total:</th>
            <th>{{ trajes_disponiveis|length }} </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
  </tbody>
</table>
{% endif %}



{% endblock %}


