{% extends 'base.html'%}

{% load static %}
{% block content %}

<div class="modal fade" id="exampleModalLocar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pesquise locações com:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="formClienteLocar" action="" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="CPFLocar" class="col-sm-2 col-form-label">CPF: </label>
                        <div class="col-sm-10">
                            <input id="formCPFLocar" class="form-control" type="text" name="CPF" maxlength="11"
                                placeholder="Digite o CPF">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="TelefoneLocar" class="col-sm-2 col-form-label">Telefone: </label>
                        <div class="col-sm-10">
                            <input id="TelefoneLocar" class="form-control" type="text" name="Telefone" maxlength="11"
                                placeholder="Digite o Telefone">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="NomeLocar" class="col-sm-2 col-form-label">Nome: </label>
                        <div class="col-sm-10">
                            <input id="formNomeLocar" class="form-control AutoCompleteClienteNome" type="text"
                                name="Nome" maxlength="100" placeholder="Digite o Nome">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="DocumentoExternoLocar" class="col-sm-2 col-form-label">Documento Externo: </label>
                        <div class="col-sm-10">
                            <input id="formDocumentoExternLocar" class="form-control" type="text"
                                name="DocumentoExterno" maxlength="100" placeholder="Digite o Documento Externo">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg btn-block"
                        onclick="validaCamposLocar()">Pesquisar</button>
                    <button type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal">Adicionar
                        novo</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>function validaCamposLocar() {
        if (formClienteLocar.CPF.value == '' && formClienteLocar.Telefone.value == '' && formClienteLocar.Nome.value == '' && formClienteLocar.DocumentoExterno.value == '') {
            document.getElementById("botaoAlerta").click();
        }
        else {
            formClienteLocar.submit();
        }
    }
</script>

<script type="text/javascript">
    function Esconde(value) {
        if (document.getElementById("isEstrangeiro").checked) {
            document.getElementById("FormNovoCPF").placeholder = "Documento Externo"
            document.getElementById("FormNovoCPF").name = "DocumentoExterno"
            document.getElementById("labelNovoCPF").innerHTML = "Documento Externo"
            document.getElementById("FormNovoRG").style.visibility = "hidden"
            document.getElementById("labelNovoRG").style.visibility = "hidden"
        }
        else {
            document.getElementById("FormNovoCPF").placeholder = "CPF"
            document.getElementById("FormNovoCPF").name = "CPF"
            document.getElementById("labelNovoCPF").innerHTML = "CPF"
            document.getElementById("FormNovoRG").style.visibility = "visible"
            document.getElementById("labelNovoRG").style.visibility = "visible"
        }
    };
</script>
<p></p>

<div class="container">
    <div class="form-check">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLocar" style="margin-right: 3%;">
        Encontrar cliente
    </button>    
        <input class="form-check-input" type="checkbox" value="" name="isEstrangeiro" id="isEstrangeiro" onclick="Esconde()">
        <label class="form-check-label" for="isEstrangeiro">
         Cliente Estrangeiro
        </label>
      </div>
    <p></p>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label id="labelNovoCPF" for="FormNovoCPF">CPF</label>
                <input type="text" class="form-control" id="FormNovoCPF" placeholder="CPF" name="CPF">
            </div>
            <div class="form-group col-md-6">
                <label id="labelNovoRG" for="FormNovoRG">RG</label>
                <input type="number" class="form-control" id="FormNovoRG" placeholder="RG" name="RG">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="FormNovoNome">Nome</label>
                <input type="text" class="form-control" id="FormNovoNome" placeholder="Nome" name="Nome">
            </div>
            <div class="form-group col-md-6">
                <label for="FormNovoTelefone">Telefone</label>
                <input type="tel" class="form-control" id="FormNovoTelefone" name="Telefone">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="FormNovoEndereco">Endereço</label>
                <input type="text" class="form-control" id="FormNovoEndereco" name="Endereco">
            </div>
            <div class="form-group col-md-6">
                <label for="FormNovoEmail">Email</label>
                <input type="text" class="form-control" id="FormNovoEmail" name="Email">
            </div>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-auto col-lg-10">
        <form id="FormTrajePequisa">
            <div class="form-group">
                <label for="FormCodigoTraje">Codigo</label>
                <input type="text" class="form-control AutoCompleteTrajePesquisaCodigo" id="FormCodigoTraje"
                    name="CodigoTraje">
                <label for="FormModeloBusca">Modelo</label>
                <input type="text" class="form-control AutoCompleteTrajePesquisaModelo" id="FormModeloBusca"
                    name="ModeloTraje">
            </div>
        </form>
      </div>
      <div class="col" style="margin-top: 2.5%;">
        <img src='{% static 'img/add.png'%}' width="40" height="40" onclick="AdicionaTraje()">
      </div>
      <div class="col" style="margin-top: 2.5%;">
        <img src='{% static 'img/remove.png'%}' width="40" height="40" onclick="RemoverTraje()">
      </div>
    </div>
  </div>

{% if cliente is not None and cliente != 0 %}

<script>
    document.getElementById("isEstrangeiro").disabled = true
    document.getElementById("FormNovoCPF").value = "{{cliente.cpf}}"
    document.getElementById("FormNovoRG").value = "{{cliente.rg}}"
    document.getElementById("FormNovoNome").value = "{{cliente.nome}}"
    document.getElementById("FormNovoTelefone").value = "{{cliente.telefone}}"
    document.getElementById("FormNovoEndereco").value = "{{cliente.endereco}}"
    document.getElementById("FormNovoEmail").value = "{{cliente.email}}"
    {% if cliente.documento_externo is not None %}
    document.getElementById("isEstrangeiro").checked = true
    document.getElementById("isEstrangeiro").disabled = true
    Esconde();
    document.getElementById("FormNovoCPF").value = "{{cliente.documento_externo}}"
    {% endif %}

</script>

{% elif cliente == 0 %}

<script>
    aToastClienteNaoEncontrado();
</script>
{% endif %}

<script>
    var listaTrajes = [];

    function AdicionaTraje() {
    const trajeSelecionado = document.getElementById("FormCodigoTraje").value
    const url = '{% url 'retornaTrajeSelecionado' %}?Traje='+trajeSelecionado
    
    fetch(url).then(response =>{
        return response.json();
    }).then(resposta =>{
        var naotem = true
        if (resposta == "CODIGOINVALIDO"){
            alert("não achou")
        }
        else if (resposta == "NAODISPONIVEL"){
            alert("traje não disponivel")
        }
        else {
        //logica da lista
        for (var traje in listaTrajes){
            if (listaTrajes[traje]["codigo"] === resposta.codigo){
                alert("traje já adicionado");
                naotem = false;
            }            
        }
        if (naotem){
        listaTrajes.push(resposta);
        console.log(listaTrajes);
        
        var html_corpo = 
            '<tr onclick="seleciona(this.id)" id= '+ resposta.codigo+'>'+
            '<td>'+ resposta.codigo +'</td>'+
            '<td>'+ resposta.nome +'</td>'+
            '<td>'+ resposta.modelo +'</td>'+
            '<td>'+ resposta.corte +'</td>'+
            '<td>'+ resposta.valor +'</td>'+
            '</tr>'+$(".listaTrajes").html()
        $(".listaTrajes").html(html_corpo)

        }
        }
        //fim logica da lista
        document.getElementById("FormCodigoTraje").value = "";
        document.getElementById("FormModeloBusca").value = ""; 
    });
    }

</script>

<script>
    function seleciona(id) {
        if (document.getElementById(id).classList.contains("table-primary")){
            document.getElementById(id).classList.remove("table-primary")
            document.getElementById(id).classList.remove("listaSelecionada")
        }
        else
        {
            document.getElementById(id).classList.add("table-primary")
            document.getElementById(id).classList.add("listaSelecionada")
        }
    }

</script>

<script>
    $(function () {
        $(".AutoCompleteTrajePesquisaModelo").autocomplete({
            source: '{% url 'autocomplete-traje' %}?Unifica=False&tipo=modelo',
            minLength: 3,
            max: 5,
            select: function (e, ui) {
                document.getElementById("FormCodigoTraje").value = ui.item.value.slice(7,ui.item.value.indexOf(" ",7));
                document.getElementById("FormModeloBusca").value = (ui.item.value.slice(ui.item.value.indexOf("Modelo: ",7),ui.item.value.length)).replace("Modelo: ","");
                return false
            }
      });
    });  
      $(function () {
        $(".AutoCompleteTrajePesquisaCodigo").autocomplete({
            source: '{% url 'autocomplete-traje' %}?Unifica=False&tipo=codigo',
            minLength: 3,
            max: 5,
            select: function (e, ui) {
                document.getElementById("FormCodigoTraje").value = ui.item.value.slice(7,ui.item.value.indexOf(" ",7));
                document.getElementById("FormModeloBusca").value = (ui.item.value.slice(ui.item.value.indexOf("Modelo: ",7),ui.item.value.length)).replace("Modelo: ","");
                return false
            }
      });       
    });
</script>

<script>
    function AtualizaValor() {
    var totalLista = 0
    //Atualiza valor
    for (var traje in listaTrajes){
        totalLista = totalLista + parseInt(listaTrajes[traje]["valor"])
    }
    document.getElementById("trValor").innerHTML = "Valor Total: R$" + totalLista
    //fim Atualiza valor}
    }
    setInterval(AtualizaValor, 300);
  </script>

<script>
    function RemoverTraje() {
        var linhas = document.getElementsByClassName("listaSelecionada");
        var linhasDeletadas = []
        for (linha in linhas){
            if (linhas[linha].id){
                for (traje in listaTrajes){
                    console.log(listaTrajes[traje]["codigo"])
                    if (listaTrajes[traje]["codigo"] == linhas[linha].id){
                        listaTrajes.splice(traje,1);
                        linhasDeletadas.push(linhas[linha].id)
                    }
                }
            }
        }
        for (id in linhasDeletadas){
            console.log(linhasDeletadas[id])
            $(document.getElementById(linhasDeletadas[id])).remove();
        }
    }

</script>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Nome</th>
        <th scope="col">Modelo</th>
        <th scope="col">Corte</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody class="listaTrajes">

    </tbody>
    <tbody class="">
        <tr class="thead-light">
            <th id = "trValor"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
    </tbody>
  </table>


{% endblock %}