{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if cliente == '#ERRO003' %}
<script>
atoastAlertaGenerico("Busca por Telefone","Mais de um cliente encontrado, busque por CPF.")
</script>
{% endif %}

{% if cliente == '#ERRO004' %}
<script>
atoastAlertaGenerico("Busca por Nome","Mais de um cliente encontrado, busque por CPF.")
</script>
{% endif %}

<link rel="stylesheet" href="{%  static  'css/locar.css'  %}">
<script type="text/javascript" src="{% static 'js/locar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mascara.js' %}"></script>

<!-- modal procurar cliente -->
<div class="modal fade" id="exampleModalLocar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pesquise locações com:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="formClienteLocar" action="" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="CPFLocar" class="col-sm-2 col-form-label">CPF: </label>
                        <div class="col-sm-10">
                            <input id="formCPFLocar" class="form-control" onkeydown="fMasc(this,mCPF);" type="text" name="CPF" maxlength="14"
                                placeholder="Digite o CPF">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="TelefoneLocar" class="col-sm-2 col-form-label">Telefone: </label>
                        <div class="col-sm-10">
                            <input id="TelefoneLocar" class="form-control" onkeydown="fMasc(this,mTel);" type="text" name="Telefone" maxlength="14"
                                placeholder="Digite o Telefone">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="NomeLocar" class="col-sm-2 col-form-label">Nome: </label>
                        <div class="col-sm-10">
                            <input id="formNomeLocar" class="form-control AutoCompleteClienteNome" type="text"
                                name="Nome" maxlength="100" placeholder="Digite o Nome">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="DocumentoExternoLocar" class="col-sm-2 col-form-label">Documento
                            Externo: </label>
                        <div class="col-sm-10">
                            <input id="formDocumentoExternLocar" class="form-control" type="text"
                                name="DocumentoExterno" maxlength="100" placeholder="Digite o Documento Externo">
                        </div>
                    </div>
                    <button type="button" class="btn btn-info btn-lg btn-block" onclick="validaCamposLocar()">Pesquisar
                    </button>
                    <button type="button" class="btn btn-info btn-lg btn-block" data-dismiss="modal"
                        style="background-color: #6c757d" onclick="location.href='{% url 'locar' %}';">Adicionar novo
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Medidas -->
<div class="modal fade" id="exampleModalMedidas" tabindex="-1" aria-labelledby="modalTitleMedidas" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleMedidas">Crie ficha de medidas:</h5>
                <h5 class="modal-title"><span id="medidaTrajeSpan"></span></h5>
                <button id="fechaModal" type="button" class="close" onclick="$('#exampleModalMedidas').modal('hide');"
                    data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="formMedidas" action="" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="formMedidaPaleto" class="col-sm-3 col-form-label">Barra paleto </label>
                        <div class="col-sm-9">
                            <input id="formMedidaPaleto" class="form-control" type="number" name="paleto_barra" min="0"
                                step=".01" placeholder="Barra paleto" style="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="formMedidaCalca" class="col-sm-3 col-form-label">Barra Calça </label>
                        <div class="col-sm-9">
                            <input id="formMedidaCalca" class="form-control" type="number" name="calca_barra" min="0"
                                step=".01" placeholder="Barra Calca">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="formMedidaTorax" class="col-sm-3 col-form-label">Torax</label>
                        <div class="col-sm-9">
                            <input id="formMedidaTorax" class="form-control" type="number" name="torax" min="0"
                                step=".01" placeholder="Torax">
                        </div>
                    </div>
                    <p></p>
                    <div class="form-group row">
                        <label for="formMedidaCostas" class="col-sm-3 col-form-label">Costas </label>
                        <div class="col-sm-9">
                            <input id="formMedidaCostas" class="form-control" type="number" name="costas" min="0"
                                step=".01" placeholder="Costas">
                        </div>
                    </div>

                    <button type="button" class="btn btn-info btn-lg btn-block" id="botaoCriarFicha"
                        onclick="cria_ficha_medidas()">Criar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<p></p>
<div class="form-row" style="margin-left: 5%; margin-right: 5%">
    <div class="mr-auto p-2">
        <input style="margin-left: 0px;" class="form-check-input" type="checkbox" value="" name="isEstrangeiro" id="isEstrangeiro"
            onclick="Esconde()">
        <label style="margin-left: 19px;" class="form-check-label" for="isEstrangeiro">
            Cliente Estrangeiro
        </label>

    </div>
    <div class="p-2">
        <button type="button" class="btn btn-dark PassaMouseTrocaCor" data-toggle="modal"
            data-target="#exampleModalLocar">
            Encontrar cliente
        </button>
    </div>

</div>

<p></p>
<!-- Form do novo cliente -->
<form>
    <div class="form-row" style="margin-left: 5%; margin-right: 5%">
        <div class="form-group col-md-6">
            <label id="labelNovoCPF" for="FormNovoCPF">CPF</label>
            <input type="text" class="form-control" id="FormNovoCPF" onkeydown="fMasc(this,mCPF);" placeholder="CPF" name="CPF" maxlength="14">
        </div>
        <div class="form-group col-md-6">
            <label id="labelNovoRG" for="FormNovoRG">RG</label>
            <input type="text" class="form-control" id="FormNovoRG" onkeydown="fMasc(this,mRG);" placeholder="RG" name="RG" maxlength="13">
        </div>
    </div>
    <div class="form-row" style="margin-left: 5%; margin-right: 5%">
        <div class="form-group col-md-6">
            <label for="FormNovoNome">Nome</label>
            <input type="text" class="form-control" id="FormNovoNome" placeholder="Nome" name="Nome" maxlength="100">
        </div>
        <div class="form-group col-md-6">
            <label for="FormNovoTelefone">Telefone</label>
            <input type="tel" class="form-control" onkeydown="fMasc(this,mTel);" id="FormNovoTelefone" name="Telefone" maxlength="14">
        </div>
    </div>
    <div class="form-row" style="margin-left: 5%; margin-right: 5%">
        <div class="form-group col-md-6">
            <label for="FormNovoEndereco">Endereço</label>
            <input type="text" class="form-control" id="FormNovoEndereco" name="Endereco" maxlength="100">
        </div>
        <div class="form-group col-md-6">
            <label for="FormNovoEmail">Email</label>
            <input type="email" class="form-control" id="FormNovoEmail" name="Email" maxlength="100">
        </div>
    </div>
</form>

<!-- Form Pesquisa traje -->
<form id="FormTrajePequisa">
    <div class="form-row" style="margin-left: 5%; margin-right: 5%">
        <div class="col-sm-2">
            <label for="FormCodigoTraje">Código</label>
            <input type="text" class="form-control AutoCompleteTrajePesquisaCodigo" id="FormCodigoTraje"
                name="CodigoTraje">
        </div>
        <div class="col-sm-8">
            <label for="FormModeloBusca">Modelo</label>
            <input type="text" class="form-control AutoCompleteTrajePesquisaModelo" id="FormModeloBusca"
                name="ModeloTraje">
        </div>

        <div class="col" style="padding-top: 31px; align-items: center; padding-right: 0px; text-align: right;">
            <input style="display: none">
            <button type="button" class="btn btn-dark PassaMouseTrocaCor addrev" style="margin: 1.5%;"
                onclick="AdicionaTraje()"> Adicionar </button>
            <input style="display: none">
            <button type="button" class="btn btn-dark PassaMouseTrocaCor addrev" style="margin: 1.5%;" onclick="RemoverTraje()">
                Remover</button>
        </div>
    </div>
</form>
<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    async function aplicaMascara() {
    document.getElementById("FormNovoRG").dispatchEvent(new KeyboardEvent('keydown',{'key':'alt'}))
    document.getElementById("FormNovoRG").dispatchEvent(new KeyboardEvent('keyup',{'key':'alt'}))
    await sleep(1)
    document.getElementById("FormNovoCPF").dispatchEvent(new KeyboardEvent('keydown',{'key':'alt'}))
    document.getElementById("FormNovoCPF").dispatchEvent(new KeyboardEvent('keyup',{'key':'alt'}))
    await sleep(1)
    document.getElementById("FormNovoTelefone").dispatchEvent(new KeyboardEvent('keydown',{'key':'alt'}))
    document.getElementById("FormNovoTelefone").dispatchEvent(new KeyboardEvent('keyup',{'key':'alt'}))
    }
</script>

{% if cliente is not None and cliente != 0 and not "ERRO" in cliente %}
<!-- Popula o form de novo cliente -->
<script>
    document.getElementById("isEstrangeiro").disabled = true
    document.getElementById("FormNovoCPF").value = "{{cliente.cpf}}"
    document.getElementById("FormNovoCPF").disabled = true
    document.getElementById("FormNovoRG").value = "{{cliente.rg}}"
    document.getElementById("FormNovoNome").value = "{{cliente.nome}}"
    document.getElementById("FormNovoTelefone").value = "{{cliente.telefone}}"
    document.getElementById("FormNovoEndereco").value = "{{cliente.endereco}}"
    document.getElementById("FormNovoEmail").value = "{{cliente.email}}"
    {% if cliente.documento_externo is not None %}
    document.getElementById("isEstrangeiro").checked = true
    document.getElementById("isEstrangeiro").disabled = true
    Esconde();
    document.getElementById("DocumentoExterno").value = "{{cliente.documento_externo}}"
    document.getElementById("DocumentoExterno").disabled = true
    {% endif %}  
    aplicaMascara()



</script>


{% elif cliente == 0 %}
<!-- Script para mostrar o Toast de cliente não encontrado-->
<script>
    atoastAlertaGenerico("Cliente não encontrado", "Procure de novo ou crie um novo")
</script>
{% endif %}


<!-- Cria table dos trajes -->
<div class="table-responsive-sm tabelaTrajes" style="margin-left: 5%; margin-right: 5%; margin-top: 1%;">
<table class="table" id = "tabelaTrajes" style="display: none;">
    <thead class="thead-dark">
        <tr>
            <th scope="col" style="width: 7%">Código</th>
            <th scope="col" style="width: 15%">Nome</th>
            <th scope="col" style="width: 20%"> Modelo</th>
            <th scope="col" style="width: 15%">Corte</th>
            <th scope="col" style="width: 7%">Valor</th>
            <th scope="col" style="width: 8%">Precisa ajuste?</th>
            <th scope="col" style="width: 28%"></th>
        </tr>
    </thead>
    <tbody class="listaTrajes">

        <tr class="thead-light">
            <th id="trValor" colspan="7"></th>
        </tr>
    </tbody>

</table>
</div>
<div style="margin-left: 5%; margin-right: 5%;">
<div class="row" style="margin-bottom: 1%;">
    <div class="col-sm-2 celular">
        <label id="labeldPrevDevolucao" for="dPrevDevolucao" class="">Previsão de Devolução</label>
        <input type="datetime-local" id="dPrevDevolucao" class="form-control" name="dPrevDevolucao">
    </div>
</div>
<div class="row">
    <div class="col-sm-2 celular">
        <button type="button" class="btn btn-dark btn-block PassaMouseTrocaCor" onclick="Locar()">Locar</button>
    </div>
</div>
</div>

<!-- Inicio Script com jinja2 -->
<!-- Script que o botão de + chama pra adicionar o traje na listaTrajes e mostrar na table-->
<script>
    var listaTrajes = [];

    function AdicionaTraje() {
        if (!id_medida) {
            const trajeSelecionado = document.getElementById("FormCodigoTraje").value
            const url = '{% url 'retornaTrajeSelecionado' %}?Traje=' + trajeSelecionado

            fetch(url).then(response => {
                return response.json();
            }).then(resposta => {
                var naotem = true
                if (resposta == "CODIGOINVALIDO") {
                    atoastAlertaGenerico("Erro ao adicionar o Traje", "O código digitado é inválido, não encontrado no banco.")
                } else if (resposta == "NAODISPONIVEL") {
                    atoastAlertaGenerico("Erro ao adicionar o Traje", "O traje selecionado não está disponível.")
                } else {
                    //logica da lista
                    for (var traje in listaTrajes) {
                        if (listaTrajes[traje]["codigo"] === resposta.codigo) {
                            atoastAlertaGenerico("Erro ao adicionar o Traje", "O Traje selecionado já se encontra adicionado")
                            naotem = false;
                        }
                    }
                    if (naotem) {
                        resposta['precisaAjuste'] = false
                        listaTrajes.push(resposta);

                        var html_corpo =
                            '<tr onclick="seleciona(this.id)" id=' + resposta.codigo + '>' +
                            '<td>' + resposta.codigo + '</td>' +
                            '<td>' + resposta.nome + '</td>' +
                            '<td>' + resposta.modelo + '</td>' +
                            '<td>' + resposta.corte + '</td>' +
                            '<td>' + resposta.valor + '</td>' +
                            '<td>' +
                            '<input type="checkbox" class="btn-check" id="btn-check-2-outlined' + resposta.codigo + '" autocomplete="off" onclick="precisa_ajuste(' + "'" + resposta.codigo + "'" + ')">' +
                            '<label class="btn btn-outline-secondary botaoPrecisa" for="btn-check-2-outlined' + resposta.codigo + '" id="precisaAjuste' + resposta.codigo + '" >Não precisa</label>' +
                            '</td>' +
                            '<td>'+'<button id="botaoMedida-' + resposta.codigo + '" class="botaoMedida btn btn-info" style="text-align:center; visibility: hidden;" onclick="abreModalFicha(' + "'" + resposta.codigo + "'" + ')">Medidas</button>' + '</td>'+
                            //'<td> <input class="form-check-input" type="radio" > </td>' +
                            '</tr>' + $(".listaTrajes").html()
                        $(".listaTrajes").html(html_corpo)

                    }
                }
                //fim logica da lista
                document.getElementById("FormCodigoTraje").value = "";
                document.getElementById("FormModeloBusca").value = "";

            });
        } else {
            atoastAlertaGenerico("Ficha de Medida", "Para adicionar, crie uma ficha de medida")
        }
    }
</script>

<!-- Autocomplete da pesquisa de trajes -->
<script>
    $(function () {
        $(".AutoCompleteTrajePesquisaModelo").autocomplete({
            source: '{% url 'autocomplete-traje' %}?Unifica=False&tipo=modelo',
            minLength: 3,
            max: 5,
            select: function (e, ui) {
                document.getElementById("FormCodigoTraje").value = ui.item.value.slice(7, ui.item.value.indexOf(" ", 7));
                document.getElementById("FormModeloBusca").value = (ui.item.value.slice(ui.item.value.indexOf("Modelo: ", 7), ui.item.value.length)).replace("Modelo: ", "");
                return false
            }
            });
        });
    $(function () {
        $(".AutoCompleteTrajePesquisaCodigo").autocomplete({
            source: '{% url 'autocomplete-traje' %}?Unifica=False&tipo=codigo',
            minLength: 3,
            max: 5,
            select: function (e, ui) {
                document.getElementById("FormCodigoTraje").value = ui.item.value.slice(7, ui.item.value.indexOf(" ", 7));
                document.getElementById("FormModeloBusca").value = (ui.item.value.slice(ui.item.value.indexOf("Modelo: ", 7), ui.item.value.length)).replace("Modelo: ", "");
                return false
            }
            });
        });
</script>

<!-- Script para enviar a locação para o views.py-->
<script>
    function Locar() {
        var listaForm = {};
        passou = false

        listaForm["Nome"] = document.getElementById("FormNovoNome").value
        listaForm["Telefone"] = document.getElementById("FormNovoTelefone").value
        listaForm["Endereco"] = document.getElementById("FormNovoEndereco").value
        listaForm["Email"] = document.getElementById("FormNovoEmail").value

        if (document.getElementById("isEstrangeiro").checked) {
            listaForm["DocumentoExterno"] = document.getElementById("DocumentoExterno").value
        } else {
            listaForm["CPF"] = document.getElementById("FormNovoCPF").value
            listaForm["RG"] = document.getElementById("FormNovoRG").value
        }
        listaForm["isEstrangeiro"] = document.getElementById("isEstrangeiro").checked

        const url = '{% url 'SalvarLocacao' %}?listatraje=' + JSON.stringify(listaTrajes) + '&form=' + JSON.stringify(listaForm) + '&dPrevDevolucao=' + document.getElementById("dPrevDevolucao").value + '&valorTotal=' + totalLista

        if (document.getElementById("dPrevDevolucao").value != "") {
            passou = true
            if (document.getElementById("FormNovoNome").value != "" && document.getElementById("FormNovoTelefone").value != "") {
                passou = true
                if (document.getElementById("isEstrangeiro").checked) {
                    if (document.getElementById("DocumentoExterno").value != "") {
                        passou = true
                    } else {
                        atoastAlertaGenerico("Campo não preenchido.", "Para clientes estrangeiros, preencha o documento externo.")
                        passou = false
                    }
                } else {
                    if (document.getElementById("FormNovoCPF").value != "") {
                        passou = true
                    } else {
                        passou = false
                        atoastAlertaGenerico("Campo não preenchido.", "Insira o CPF.")
                    }
                }
            } else {
                atoastAlertaGenerico("Campo não preenchido.", "Nome ou telefone em branco.")
                passou = false
            }
        } else {
            passou = false
            atoastAlertaGenerico("Campo não preenchido.", "Coloque a data de previsão de devolução.")
        }
        if (document.getElementById("FormNovoEmail").value != ""){
            const re = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
            if (!re.test(document.getElementById("FormNovoEmail").value.toLowerCase())){
                atoastAlertaGenerico("Tentativa da locação", "Coloque um email valido.")
                return
            }
        }
        

        if (passou) {
            fetch(url).then(response => {
                return response.json();
            }).then(resposta => {
                if (resposta["status"] == 200) {
                    document.getElementById("testeSucess").style.display = "inline"
                    setTimeout(function () {
                        var url2 = '{% url 'consultar_cliente' %}?id=' + resposta["id_cliente"]
                        document.getElementById("testeSucess").style.display = "none"
                        window.location.replace(url2);
                    }, 1500);
                }
                else if (resposta["status"] == 401){
                    atoastAlertaGenerico("Criação de locação", "Por favor, digite um CPF valido.")
                }
                else if (resposta["status"] == 402){
                    atoastAlertaGenerico("Criação de locação", "Por favor, coloque pelo menos um traje!")
                }else {
                    atoastAlertaGenerico("Criação de locação", "Aconteceu algum erro na locação.")
                }
            });
        } else {
            
        }
    }
</script>

<!-- Logica para criação da ficha de medida -->
<script>
    let id_medida

    function cria_ficha_medidas() {
        var url = ""
        var listaForm = {};

        id_traje = document.getElementById("medidaTrajeSpan").innerHTML
        listaForm["paleto_barra"] = document.getElementById("formMedidaPaleto").value
        listaForm["calca_barra"] = document.getElementById("formMedidaCalca").value
        listaForm["torax"] = document.getElementById("formMedidaTorax").value
        listaForm["costas"] = document.getElementById("formMedidaCostas").value

        for (item in listaTrajes) {
            if (listaTrajes[item]["codigo"] == id_traje) {
                traje = listaTrajes[item]
                if (!("id_medida" in traje)) {
                    url = '{% url 'cria_ficha_medidas' %}?info=' + JSON.stringify(listaForm);
                }
                else {
                    listaForm["id"] = traje["id_medida"]

                    const url = '{% url 'atualizar_ficha' %}?infoFicha=' + JSON.stringify(listaForm)

                    fetch(url).then(response => {
                        return response.json();
                    }).then(resposta => {
                        if (resposta == "200") {
                        }
                        else {
                            atoastAlertaGenerico("Atualiza ficha", "Aconteceu algum erro ao atualizar a ficha")
                        }
                    });
                }
            }
        }
        if (url != "") {
            fetch(url).then(response => {
                return response.json();
            }).then(resposta => {
                if (resposta != "status 400") {
                    traje["id_medida"] = resposta;
                }
                else {
                    atoastAlertaGenerico("Cria ficha medidas", "Foi inserido um valor maior que 999,99")
                }
            });
        }
        for (item in listaTrajes) {
            if (listaTrajes[item]["codigo"] == traje["codigo"]) {
                listaTrajes[item] = traje
            }
        }
        $('#exampleModalMedidas').modal('toggle');
    }
</script>

<!-- Abre ficha de medida, prepara pra editar ou criar uma nova, se vai editar, busca no banco pra pegar as infos-->
<script>
    function abreModalFicha(id) {
        $('#exampleModalMedidas').modal('toggle');
        document.getElementById("medidaTrajeSpan").innerHTML = id
        document.getElementById("modalTitleMedidas").innerHTML = "Crie ficha de medidas:"
        document.getElementById("botaoCriarFicha").innerHTML = "Criar"
        document.getElementById("formMedidaPaleto").value = ""
        document.getElementById("formMedidaCalca").value = ""
        document.getElementById("formMedidaTorax").value = ""
        document.getElementById("formMedidaCostas").value = ""

        for (item in listaTrajes) {
            if (listaTrajes[item]["codigo"] == id) {
                if ("id_medida" in listaTrajes[item]) {
                    document.getElementById("botaoCriarFicha").innerHTML = "Atualizar"
                    document.getElementById("modalTitleMedidas").innerHTML = "Atualizar ficha de medidas:"
                    const url = '{% url 'consulta_ficha_medida' %}?id=' + listaTrajes[item]["id_medida"]

                    fetch(url).then(response => {
                        return response.json();
                    }).then(resposta => {
                        document.getElementById("formMedidaPaleto").value = resposta.paleto_barra
                        document.getElementById("formMedidaCalca").value = resposta.calca_barra
                        document.getElementById("formMedidaTorax").value = resposta.torax
                        document.getElementById("formMedidaCostas").value = resposta.costas
                    });
                }
            }
        }
    }
</script>
<!-- Fim Script com jinja2 -->




{% endblock %}