{% extends 'base.html'%}
{% load static %}
{% block content %}
    {% if maximo == None %}
<div class="container-fluid">
<div class="row" style="margin-top: 2%">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Relatório Menos Alocados ou Mais Alocados</h5>
        <p class="card-text">Está busca retorna os trajes menos alocados de TODAS as locações.</p>
        <a href="{% url 'mais-menos-alocados' %}" class="btn btn-primary">Mostrar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Relatório por Locações feitas no Data:</h5>
        <p class="card-text">Escreva o Dia que deseja buscar.</p>
          <form action="/busca-por-data/" method="post">
              {% csrf_token %}
              <label>Data Inicial:</label>
              <input type="date" class="form-control" name="dPrevInicial">
              <p></p>
              <label>Data Final:</label>
            <input type="date" class="form-control" name="dPrevFinal">
              <p></p>
              <button type="submit" class="btn btn-primary">Go somewhere</button>
          </form>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Relatório por Traje</h5>
         <form name="formTraje" action="/busca-por-traje/" method="post">
             {% csrf_token %}
            <div class="form-group row">
              <label for="codigo" class="col-sm col-form-label">Código: </label>
              <div class="col-sm-8">
                <input id="formTrajeCodigo" class="form-control AutoCompleteTraje" type="text" name="codigo"
                  maxlength="50" placeholder="Digite o Codigo do traje">
              </div>
            </div>

            <div class="form-group row">
              <label for="nome" class="col-sm col-form-label">Nome: </label>
              <div class="col-sm-8">
                <input id="formTrajeNome" class="form-control AutoCompleteTraje" type="text" name="nome" maxlength="100"
                  placeholder="Digite o Nome do traje">
              </div>
            </div>

            <div class="form-group row">
              <label for="modelo" class="col-sm col-form-label">Modelo: </label>
              <div class="col-sm-8">
                <input id="formTrajeModelo" class="form-control AutoCompleteTraje" type="text" name="modelo"
                  maxlength="100" placeholder="Digite o Modelo">
              </div>
            </div>

            <div class="form-group row">
              <label for="corte" class="col-sm col-form-label">Corte: </label>
              <div class="col-sm-8">
                <input id="formTrajeCorte" class="form-control AutoCompleteTraje" type="text" name="corte"
                  maxlength="100" placeholder="Digite o Corte">
              </div>
            </div>

            <input type="hidden" id="todos" name="todos" value='1'>
                     <button type="submit" class="btn btn-primary">Go somewhere</button>
          </form>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Relatório Financeiro nas Datas:</h5>
        <p class="card-text">Entre a data ou a Hora para pesquisar.</p>
          <form action="" method="post">
              {% csrf_token %}
              <label>Data Inicial:</label>
              <input type="date" class="form-control" id="data-inicial">
              <p></p>
              <label>Data Final:</label>
            <input type="date" class="form-control" id="data-final">
            <label>Hora:</label>
            <input type="time" class="form-control" id="hora">
              <p></p>

          </form>
<button onclick="consultaFinanceiro()" class="btn btn-primary">Go somewhere</button>
          <p class="card-text" id="campo-financeiro"></p>
      </div>
    </div>
  </div>
</div>
</div>
<script>
function consultaFinanceiro(){
    const data_inicial = document.getElementById("data-inicial").value
    const data_final = document.getElementById("data-final").value
    const hora = document.getElementById("hora").value


    const url = '{% url 'busca-financeiro' %}?data-inicial=' + data_inicial + '&data-final=' + data_final + '&data-hora=' + hora

              fetch(url).then(response => {
              return response.json();
          }).then(resposta => {
              document.getElementById("campo-financeiro").innerHTML = 'Foram feitos ' + resposta.lancamentos + ' Lançamentos e o valor total é R$: ' + resposta.valores

          });


}
</script>
    {% endif %}
{% endblock %}