{% extends 'base.html'%}
{% load static %}
{% block content %}
<link rel="stylesheet"  href="{%  static  'css/relatorio.css'  %}">
<script type="text/javascript" src="{% static 'js/relatorio.js' %}"></script>

{% if maximo == None %}

<body>
  <div class="container-fluid">
    <div class="row" style="margin-top: 2%">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Menos/Mais Alocados</h5>
            <p class="card-text">Está busca retorna os trajes menos alocados de TODAS as locações.</p>
            <a href="{% url 'mais-menos-alocados' %}" class="btn btn-dark">Mostrar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Relatório por Locações feitas no Data:</h5>
            <p class="card-text">Escreva o Dia que deseja buscar.</p>
            <form action="/busca-por-data/" name="formLocData" method="post">
              {% csrf_token %}
              <label>Data Inicial:</label>
              <input type="date" class="form-control" name="dPrevInicial">
              <p></p>
              <label>Data Final:</label>
              <input type="date" class="form-control" name="dPrevFinal">
              <p></p>
              <button type="button" class="btn btn-dark" onclick="validaCamposLocData()">Pesquisar</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Relatório por Traje</h5>
            <form name="formTrajeRel" action="/busca-por-traje/" method="post">
              {% csrf_token %}
              <div class="form-group row">
                <label for="codigo" class="col-sm col-form-label">Código: </label>
                <div class="col-sm-8">
                  <input id="formTrajeRelCodigo" class="form-control AutoCompleteTraje" type="text" name="codigo"
                    maxlength="50" placeholder="Digite o Codigo do traje">
                </div>
              </div>

              <div class="form-group row">
                <label for="nome" class="col-sm col-form-label">Nome: </label>
                <div class="col-sm-8">
                  <input id="formTrajeRelNome" class="form-control AutoCompleteTraje" type="text" name="nome"
                    maxlength="100" placeholder="Digite o Nome do traje">
                </div>
              </div>

              <div class="form-group row">
                <label for="modelo" class="col-sm col-form-label">Modelo: </label>
                <div class="col-sm-8">
                  <input id="formTrajeRelModelo" class="form-control AutoCompleteTraje" type="text" name="modelo"
                    maxlength="100" placeholder="Digite o Modelo">
                </div>
              </div>

              <div class="form-group row">
                <label for="corte" class="col-sm col-form-label">Corte: </label>
                <div class="col-sm-8">
                  <input id="formTrajeRelCorte" class="form-control AutoCompleteTraje" type="text" name="corte"
                    maxlength="100" placeholder="Digite o Corte">
                </div>
              </div>

              <input type="hidden" id="todosRel" name="todos" value='1'>
              <button type="button" class="btn btn-dark" onclick="validaCamposRelTraje()">Pesquisar</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Relatório Financeiro nas Datas:</h5>
            <p class="card-text">Entre a data ou a Hora para pesquisar.</p>
            <form name="FormFinancData" action="" method="post">
              {% csrf_token %}
              <label>Data Inicial:</label>
              <input type="date" class="form-control" id="data-inicial" name="dInicialFinanc">
              <p></p>
              <label>Data Final:</label>
              <input type="date" class="form-control" id="data-final" name="dFinalFinanc">
              <p></p>

            </form>
            <button onclick="consultaFinanceiro()" class="btn btn-dark">Pesquisar</button>
            <p class="card-text" id="campo-financeiro"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  function consultaFinanceiro() {
    if (FormFinancData.dInicialFinanc.value == "" || FormFinancData.dFinalFinanc.value == "") {
      atoastAlertaGenerico("Relatório Financeiro", "Preencha a data inicial/final para visualizar o relatório.")
    }
    else {
      const data_inicial = document.getElementById("data-inicial").value
      const data_final = document.getElementById("data-final").value


      const url = '{% url 'busca-financeiro' %}?data-inicial=' + data_inicial + '&data-final=' + data_final

      fetch(url).then(response => {
        return response.json();
      }).then(resposta => {
        document.getElementById("campo-financeiro").innerHTML = 'Foram feitos ' + resposta.lancamentos + ' Lançamentos e o valor total é R$: ' + resposta.valores

      });

    }
  }
</script>

{% endif %}
{% endblock %}