{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="table-responsive-sm">
  <div class="container-fluid">
    <p></p>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Total de Locações</th>
          <th scope="col">Locações Atrasadas</th>
          <th scope="col">Locações Alocadas</th>
          <th scope="col">Locações Devolvidas</th>
          <th scope="col">Locações Canceladas</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{ locacao }}</th>
          <td>{{ locacoes_atrasadas }}</td>
          <td>{{ locacoes_alocado }}</td>
          <td>{{ locacoes_devolvido }}</td>
          <td>{{ locacoes_cancelado }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}